name: Test

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3
        bundler-cache: true
    - name: Run rubocop
      run: bundle exec rubocop

  rspec:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby: [2.7, 3.0, 3.1]

    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Run rspec
      run: bundle exec rspec
